* {
    box-sizing: border-box;
}

:root {
    --color-main: #1ebfc1;
    --color-desc: #9da6a5;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */

a {
    text-decoration: none;
}

.main-content {
    width: 117rem;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18.6rem;
    height: 6.8rem;
    border-radius: 1.4rem;
    color: #fff;
    background: var(--color-main);
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.block-content {
    display: flex;
    width: 15.7rem;
    height: 7.5rem;
    justify-content: center;
    align-items: center;
    border-radius: 1.8rem;
    background: #fefefd;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}

.line {
    display: block;
    margin: 0;
    padding: 0;
}

.heading {
    color: #0d1111;
    font-weight: 700;
}

.heading.lv1 {
    font-size: 6.2rem;
}

.heading.lv2 {
    font-size: 4.2rem;
}

.heading.lv3 {
    font-size: 2rem;
    font-weight: 600;
}

.comment {
    font-size: 1.2rem;
    font-weight: 700;
    color: #767e7e;
}

.desc {
    color: var(--color-desc);
    font-size: 1.6rem;
}

.desc-p {
    color: #767e7e;
    font-size: 1.8rem;
}
/* Header */
.header {
    padding: 5.2rem 0 1rem;
    background-color: #fff;
}

.header.fixed {
    position: sticky;
    top: -4.2rem;
    z-index: 1;
}

.header .body {
    display: flex;
    align-items: center;
}

.header .nav {
    margin-left: 23.5rem;
}

.nav ul {
    display: flex;
}

.nav a {
    margin-right: 3.9rem;
    color: #2f3a3b;
    font-weight: 400;
}

.header .nav a:hover,
.header .action {
    text-shadow: 1px 0 0 currentColor;
}

.header .actions {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.actions .action-link {
    margin-right: 2.4rem;
    color: #494949;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
}

.actions .sign-up.btn {
    background-color: #fff;
    border-radius: 6px;
    border: var(--color-main) solid 1px;
    width: 10.8rem;
    height: 4.8rem;
    color: var(--color-main);
    font-weight: 600;
}

.actions .sign-up:hover {
    background-color: var(--color-main);
    color: #fff;
}

/* Hero */

.hero {
    margin-top: 4rem;
}

.hero .body {
    display: flex;
}

.hero .hero-left {
    width: 45.2%;
    margin: 9.3rem 0 17.2rem;
}

.hero-left .heading {
    margin: 1.8rem 0 4.6rem;
}

.hero-left .heading.lv1 {
    line-height: 7.2rem; /* 116.129% */
}

.hero-left .desc {
    width: 37.4rem;
    height: 9.6rem;
    font-size: 1.8rem;
    line-height: 3.2rem;
}

.hero-left .cta-group {
    margin-top: 5.2rem;
    display: flex;
}

.hero-left .btn {
    margin-right: 5rem;
    font-size: 1.8rem;
    font-weight: 600;
}

.hero-left .icon-video button {
    display: flex;
    border: none;
    background: none;
    width: 6.2rem;
    height: 6.2rem;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0px 22px 50px 0px rgba(0, 0, 0, 0.05);
}

.hero-left .icon-video button:hover {
    cursor: pointer;
}

/* Hero right */

.hero .hero-right {
    position: relative;
    width: 54.8%;
}

.hero-right .image img {
    width: 57.6rem;
    position: absolute;
    right: 0;
}

.hero-right .block-top {
    position: absolute;
    top: 14.9rem;
    left: 2.5rem;
}

.hero-right .block-top .book {
    position: relative;
    display: flex;
    margin-right: 1.6rem;
    width: 3.6rem;
    height: 4rem;
    border-radius: 5px 3px 3px 5px;
    background-color: #ff8282;
}

.hero-right .block-top .book::before {
    position: absolute;
    content: "";
    display: inline-block;
    width: 2.8rem;
    right: 0.4rem;
    height: 0.4rem;
    top: 2.8rem;
    border-radius: 0.4rem;
    background: #fff;
}

.hero-right .block-top span {
    color: #0d1111;
    width: 5.5rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: normal;
}

.hero-right .block-left {
    position: absolute;
    display: inline-block;
    width: 12.4rem;
    height: 13.2rem;
    top: 45.3rem;
}

.hero-right .block-left .title {
    display: flex;
    color: #0d1111;
    margin: 1.6rem 0;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 500;
}

.hero-right .block-left .list-line {
    display: block;
    list-style: none;
    margin: 1.6rem auto;
    width: 7.4rem;
    height: 6.2rem;
}

.hero-right .block-left img:nth-child(2) {
    top: 0;
    margin-top: 1.2rem;
}

.hero-right .block-left img:nth-child(3) {
    margin-top: 1rem;
}

.hero-right .block-left img:last-child {
    margin-left: auto;
    margin-right: auto;
    width: 2.6rem;
    height: 0.6rem;
    margin-top: 1.6rem;
}

.hero-right .block-right {
    position: absolute;
    display: block;
    width: 20.7rem;
    height: 9rem;
    border-radius: 2.4rem;
    margin-top: 50rem;
    margin-left: 38.9rem;
}

.hero-right .block-right .list-avatar {
    position: relative;
    margin: 1.7rem 0 1.7rem 3.5rem;
    width: 13.7rem;
    height: 5.6rem;
}

.hero-right .block-right .title {
    display: flex;
    color: #0d1111;
    font-size: 1rem;
    font-weight: 500;
    line-height: normal;
}

.hero-right .avatars {
    display: flex;
    margin-top: 0.8rem;
}

.hero-right .block-right .avatars span,
.hero-right .block-right .avatars img {
    display: flex;
    width: 3.3rem;
    height: 3.3rem;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    border-radius: 50%;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    background: #1ebfc1;
    margin-left: -0.7rem;
}

.hero-right .avatars img:first-child {
    margin-left: 0;
}

/* Features */

.features {
    margin-top: 3rem;
    padding-top: 10rem;
}

.features .body {
    width: 102.4rem;
}

.features .feature {
    width: 59.1rem;
}

.feature .heading {
    margin: 1.8rem 0;
}
.feature .heading.lv2 {
    line-height: 5.6rem; /* 133.333% */
}

.feature .desc-p {
    margin-left: 0.1rem;
    line-height: normal;
}

.feature-list {
    display: flex;
    margin-top: 8rem;
}

.feature-item {
    margin-left: 20.9rem;
    width: 22.3rem;
    height: 25.9rem;
}
.feature-item:first-child {
    margin-left: 0;
    width: 16.8rem;
}

.feature-item:last-child {
    margin-left: 20rem;
    width: 22.4rem;
}

.feature-list .feature-item .img-block {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    width: 10.2rem;
    height: 10.6rem;
}

.feature-item .img-block.bl1 {
    background-color: #ffc147;
}

.feature-item .img-block.bl2 {
    background-color: #ff947a;
}

.feature-item .img-block.bl3 {
    background-color: #bf83ff;
}

.feature-item .heading {
    margin: 2.6rem 0 1.6rem;
}

.feature-item .desc {
    line-height: 2.7rem; /* 168.75% */
}

.courses {
    margin-top: 3rem;
    padding-top: 10rem;
    height: 77.8rem;
}

.course .heading.lv2 {
    margin: 1.8rem 0 1.9rem;
}

.course .desc-p {
    width: 52.5rem;
    line-height: 3.2rem; /* 177.778% */
}

.course .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.course .link {
    color: var(--color-main);
    font-size: 1.4rem;
    font-weight: 700;
    text-decoration-line: underline;
}

.course .images {
    position: relative;
    margin-top: 7.9rem;
    height: 51.7rem;
    display: flex;
    justify-content: space-between;
}

.course .image {
    display: flex;
    width: 35.9rem;
    height: 39.3rem;
    border-radius: 0.8rem;
    object-fit: cover;
}

.course .image:hover {
    opacity: 0.35;
    background: #d0efed;
}

.course .block {
    position: absolute;
    margin: 0 1.7rem;
    bottom: 0;
    width: 32.5rem;
    height: 19.5rem;
    border-radius: 0.8rem;
    background: #fff;
    box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.05);
}

.course .block .block-item {
    margin: 1.8rem 0 0 2.5rem;
}

.course .block .block-item .desc-p {
    margin: 1.6rem 0 0.6rem;
}

.block .block-item .desc-p strong {
    color: #0d1111;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: normal;
}

.block-item .desc p {
    margin: 0.6rem 0 1.8rem;
}

.block-item .time {
    display: inline-flex;
    align-items: center;
    margin-right: 1rem;
}

.block-item .time::before {
    content: "";
    display: inline-block;
    margin-right: 1rem;
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 50%;
    background-color: #1ebfc1;
    flex-shrink: 0;
}
